{% from "shoop/admin/macros/general.jinja" import content_block %}
{% from "shoop/admin/macros/multilanguage.jinja" import language_dependent_content_tabs %}
{% set media_form = form[form_def.name] %}

{% macro render_media_form(f, media_form, idx, is_image_form) %}
    {% for h in f.hidden_fields() %}
        {{ h|safe }}
    {% endfor %}
    {%- set is_primary = f.is_primary.value() if is_image_form else None %}
    {%- set name = "Product image" if is_image_form else "Product media" %}
    <div class="panel{% if is_primary %} panel-selected{% else %} panel-default{% endif %}" data-prefix="{{ f.prefix }}">
        <div class="panel-heading clearfix">
            <h2 class="panel-title pull-left">
                {% trans %}{{ name }}{% endtrans %} {{ idx }}
            </h2>
            {% if is_image_form %}
                <div class="primary-action pull-right">
                    {% if f.is_primary.value() %}
                        <span class="is-primary-image">{% trans %}Primary image{% endtrans %}</span>
                    {% else %}
                        <a href="#" class="set-as-primary">{% trans %}Set as primary image{% endtrans %}</a>
                    {% endif %}
                    <div class="hide">{{ f.is_primary }}</div>
                </div>
            {% endif %}
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4 file-control">
                    <div class="form-group{% if f.file.errors %} has-error{% endif %}">
                        {%- set thumbnail = f.get_thumbnail(request) %}
                        <span class="thumbnail">
                            {% if thumbnail %}
                                <a href="{{ f.file_url }}" target="_blank"><img src="{{ thumbnail.url }}"></a>
                            {% else %}
                                <small class="no-image">{% trans %}No image{% endtrans %}</small>
                            {% endif %}
                        </span>
                        {{ f.file }}
                        {% if f.file.errors %}
                        <div class="help-block">{{ f.file.errors }}</div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-sm-4 extra-fields">
                {% if not is_image_form %}
                    {{ bs3.field(f.external_url) }}
                {% endif %}
                </div>
                <div class="col-sm-4 actions">
                    {% if media_form.can_delete and f.instance.pk %}
                    <a href="#" class="text-muted product-media-delete"><i class="fa fa-times"></i> {% trans %}Delete{% endtrans %}</a>
                    <div class="hide">{{ f.DELETE }}</div>
                    {% endif %}
                    {{ bs3.field(f.ordering) }}
                </div>
            </div>
        </div>
        {%- set id = media_form.prefix + "-" + idx|safe %}
        <div class="panel-footer" id="media-accordion-{{ id }}" role="tablist" aria-multiselectable="true">
            <div role="tab" id="media-{{ id }}">
                <div id="collapse-{{ id }}" class="advanced-container collapse" role="tabpanel" aria-labelledby="media-{{ id }}">
                    <div class="advanced-body">
                        {{ bs3.field(f.public) }}
                        {{ bs3.field(f.purchased) }}
                        {{ bs3.field(f.shops) }}
                        {{ bs3.field(f.kind) }}
                        {% set tab_id = id + "-additional-language" %}
                        {% call(form, language, map) language_dependent_content_tabs(f, tab_id_prefix=tab_id) %}
                            {{ bs3.field(f[map.title]) }}
                            {{ bs3.field(f[map.description]) }}
                        {% endcall %}
                    </div>
                </div>
            </div>
            <div class="toggle-advanced">
                <a role="button" data-toggle="collapse" data-parent="#media-accordion-{{ id }}" href="#collapse-{{ id }}" aria-expanded="false" aria-controls="collapse-{{ id }}">
                    <i class="fa fa-cog"></i> {% trans %}Advanced options{% endtrans %}
                </a>
            </div>
        </div>
    </div>
{% endmacro %}


{%- set is_image_form = media_form.prefix == "images" %}
{%- set name = _("Product Images") if is_image_form else _("Product Media") %}

{% call content_block(_(name), "fa-camera") %}
    {{ media_form.management_form }}
    {% for f in media_form %}
        {{ render_media_form(f, media_form, loop.index, is_image_form) }}
    {% endfor %}
    <div class="hide" id="placeholder-panel">
        {{ render_media_form(media_form.empty_form, media_form, "__prefix_name__", is_image_form) }}
    </div>
    <hr>
{%- set target_panels = "product-images-section" if is_image_form else "product-media-section" %}
{%- set target_id = "id_images" if is_image_form else "id_media" %}
<a class="btn btn-lg btn-text media-add-new-panel" href="#" data-target-id="{{ target_id }}" data-target-panels="{{ target_panels }}">+ {% if is_image_form %}{% trans %}Add new image{% endtrans %}{% else %}Add new media{% endif %}</a>

{% endcall %}

