<table class="basket-table table">
    <col style="width: 70px">
    <col>
    <col>
    <col>
    <col>
    <thead>
        <tr>
            <th></th>
            <th class="text-left">{% trans %}Title{% endtrans %}</th>
            <th class="text-right">{% trans %}Price{% endtrans %}</th>
            <th class="text-right">{% trans %}Quantity{% endtrans %}</th>
            <th class="text-right">{% trans %}Total{% endtrans %}</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                <strong>{% trans %}Total{% endtrans %}:
                {% set taxful_total_price = order.taxful_total_price %}
                {% set taxless_total_price = order.taxless_total_price %}
                <span class="total-price">{{ taxful_total_price|money }}</span></strong>
                {% if taxless_total_price != taxful_total_price %}
                <br>
                <span class="total-price text-muted">({{ taxless_total_price|money }} {{ _("excl. tax") }})</span>
                {% endif %}
            </td>
        </tr>
    </tfoot>
    <tbody>
        {% for line in lines %}
            {% set product = line.product %}
            <tr>
                <td>
                    {% if product %}
                        {% set image = product.primary_image %}
                        {% if image %}
                            <img class="img-responsive" src="{{ image|thumbnail(size=(70, 70)) }}" width="70" height="70">
                        {% else %}
                            <img class="img-responsive" src="{{ STATIC_URL }}shoop/img/no_image_thumbnail.png" width="70" height="70">
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ line.text }}
                </td>
                <td class="text-right">
                    {{ line.taxful_discounted_unit_price|money }}
                    {% if line.tax_amount %}
                        <br><small class="text-muted">({{ line.taxless_discounted_unit_price|money }} excl. tax)</small>
                    {% endif %}
                    {% if line.is_discounted %}
                        <br><small class="text-muted"><del>{{ line.taxful_base_unit_price|money }}</del></small>
                    {% endif %}
                </td>
                <td class="text-right">
                    {{ line.quantity|number }}
                </td>
                <td class="text-right">
                    <span class="line-total">{{ line.taxful_price|money }}</span>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
