<div class="table-responsive">
    <table class="table basket-table">
        <col style="width: 70px">
        <col width="30%">
        <col>
        <col style="width: 150px">
        <col>
        <thead>
        <tr>
            <th></th>
            <th class="text-left">{% trans %}Product{% endtrans %}</th>
            <th class="text-right">{% trans %}Price{% endtrans %}</th>
            <th class="text-right">{% trans %}Quantity{% endtrans %}</th>
            <th class="text-right">{% trans %}Total{% endtrans %}</th>
        </tr>
        </thead>
        <tfoot>
        <tr>
            <td colspan="5" class="text-right">
                {% trans %}Total{% endtrans %}:
                {# TODO: (TAX) Ensure taxes are calculated in _confirm_table.jinja #}
                {% set taxful_total_price = basket.taxful_total_price %}
                {% set taxless_total_price = basket.taxless_total_price %}
                <span class="total-price"><strong>{{ taxful_total_price|money }}</strong></span>
                {% if taxless_total_price != taxful_total_price %}
                <br>
                <span class="total-price text-muted">({{ taxless_total_price|money }} {{ _("excl. tax") }})</span>
                {% endif %}
            </td>
        </tr>
        </tfoot>
        <tbody>
        {% for line in basket.get_final_lines() %}
            {% set product = line.product %}
            {% set shop_product = line.shop_product %}
            <tr>
                <td>
                    {% if product %}
                        {% set image = product.primary_image %}
                        {% if image %}
                            <img src="{{ image|thumbnail(size=(70, 70)) }}" alt="{{ line.text }}">
                        {% else %}
                            <img class="img-responsive" src="{{ STATIC_URL }}shoop/img/no_image_thumbnail.png">
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {{ line.text }}
                </td>
                <td class="text-right">
                    {{ line.taxful_discounted_unit_price|money }}
                    {% if line.tax_amount %}
                        <br><small class="text-muted">({{ line.taxless_discounted_unit_price|money }} excl. tax)</small>
                    {% endif %}
                    {% if line.is_discounted %}
                        <br><small class="text-muted"><del>{{ line.taxful_base_unit_price|money }}</del></small>
                    {% endif %}
                </td>
                <td class="text-right">
                    {{ line.quantity|number }}
                </td>
                <td class="text-right">
                    <span class="line-total">{{ line.taxful_price|money }}</span>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
