{% macro product_box(product, show_image=True, show_description=True, class="product-box", thumbnail_size=(500,500)) %}
    {% set u = url("shoop:product", pk=product.pk, slug=product.slug) %}
    {% if product.is_variation_parent()  %}
        {% set price_info = product.get_cheapest_child_price_info(request) %}
    {% else %}
        {% set price_info = product.get_price_info(request) %}
    {% endif %}
    <div class="product-card {{ class }}" id="product-{{ product.id }}">
        <a href="{{ u }}" rel="product-detail" title="{{ product.name }}">
            {% if price_info.is_discounted %}
                <div class="labels">
                    <span class="label label-sale">{{ -price_info.discount_rate|percent }}</span>
                </div>
            {% endif %}
            {% if show_image %}
                {% set primary_image_thumb = product.primary_image|thumbnail(size=thumbnail_size) %}
                <div class="image-wrap">
                    <div class="image" style="background-image:url('{% if product.primary_image %}{{ primary_image_thumb }}{% else %}{{ STATIC_URL }}classic_gray/img/no_image.png{% endif %}')"></div>
                </div>
            {% endif %}
            <div class="detail-wrap">
                <div class="name">{{ product.name }}</div>
                {% if show_description and product.description %}
                    <p class="description">{{ product.description|striptags|truncate(180)|safe }}</p>
                {% endif %}
                {# TODO: (TAX) Check following line (gets taxful price of product)  #}
                <div class="price">
                    {{ render_product_price(product, price_info, show_units=False) }}
                </div>
            </div>
        </a>
        <div class="actions clearfix">
            <button type="button" class="btn btn-block text-muted" onclick="javascript:showPreview('{{ product.id }}')"><i class="fa fa-eye"></i> {% trans %}Preview{% endtrans %}</button>
        </div>
    </div>
{% endmacro %}

{% macro render_cross_sell_products(product, relation_type="", title="") %}
    {%- set cross_sell_products = shoop.product.get_product_cross_sells(product, relation_type) %}
    {% if cross_sell_products %}
        <hr>
        {% if title %}<h3>{{ title }}</h3>{% endif %}
        <div class="row">
            {% for product in cross_sell_products %}
                <div class="col-md-3">
                    {{ product_box(product) }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% macro render_field(field, classes="") %}
    {% if field.field.widget.is_hidden %}
        {{ field.as_widget()|safe }}
    {% else %}
        {% set widget_name = field.field.widget.__class__.__name__|lower %}
        {% if widget_name == "checkboxinput" %}
            <div class="custom-checkbox {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                {{ field.as_widget()|safe }}
                <label for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>
                {% if field.errors %}
                    <p class="help-block">
                        {% for error in field.errors %}
                            {{ error}}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% elif widget_name == "radio" %}
            <div class="custom-radio {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                {{ field.as_widget()|safe }}
                <label for="{{ field.auto_id }}">
                    {{ field.label }}
                </label>
            </div>
        {% elif widget_name == "select" %}
            <div class="form-group {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
                {{ field.as_widget(attrs={"class": "form-control selectpicker"})|safe }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    <p class="help-block">
                        {% for error in field.errors %}
                            {{ error}}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% else %}
            <div class="form-group {{ widget_name }}{% if field.field.required %} required{% endif %}{% if field.errors %} has-error{% endif %} {{ classes }}">
                <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                {{ field.as_widget(attrs={"class": "form-control"})|safe }}
                {% if field.help_text %}
                    <p class="help-block">{{ field.help_text }}</p>
                {% endif %}
                {% if field.errors %}
                    <p class="help-block">
                        {% for error in field.errors %}
                            {{ error}}
                        {% endfor %}
                    </p>
                {% endif %}
            </div>
        {% endif %}
    {% endif %}
{% endmacro %}

{% macro alert(message, title=None, mode="") %}
    <div class="alert{% if mode %} alert-{{ mode }}{% endif %}">
        {% if title %}
            <strong>{{ title }}</strong>
        {% endif %}
        {% if not caller %}
            {{ message|safe }}
        {% else %}
            {{ caller() }}
        {% endif %}
    </div>
{% endmacro %}

{% macro print_order_detail(order, show_attachments=False) %}

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans %}Products ordered{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            {% set lines = order.lines.order_by("ordering") %}
            {% include "shoop/front/order/partials/product_table.jinja" %}
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h2 class="panel-title">{% trans %}Tax breakdown{% endtrans %}</h2>
        </div>
        <div class="panel-body">
            {% include "shoop/front/order/partials/taxes.jinja" %}
        </div>
    </div>

    {% if show_attachments %}
        {% set attachments = order.get_purchased_attachments() %}
        {% if attachments %}
            <h2>{% trans %}Files{% endtrans %}</h2>
            <table class="table">
                {% for attachment in attachments %}
                    <tr>
                        <td><a href="{{ attachment.get_effective_url() }}">{{ attachment.title }}</a></td>
                        <td>
                            {% if attachment.description %}
                                {{ attachment.description|linebreaksbr }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% endif %}
    {% endif %}

    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans %}Delivery{% endtrans %}</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Delivery method{% endtrans %}:</dt>
                        <dd>{{ order.shipping_method_name }}</dd>
                        <dt>{% trans %}Shipping address{% endtrans %}:</dt>
                        <dd>
                            <address>
                                {% for line in order.shipping_address.as_string_list() %}
                                    {% if loop.first %}
                                        <strong>{{ line }}</strong>
                                    {% else %}
                                        {{ line }}
                                    {% endif %}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </address>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">{% trans %}Payment{% endtrans %}</h2>
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>{% trans %}Payment method{% endtrans %}:</dt>
                        <dd>{{ order.payment_method_name }}</dd>
                        <dt>{% trans %}Billing address{% endtrans %}:</dt>
                        <dd>
                            <address>
                                {% for line in order.billing_address.as_string_list() %}
                                    {% if loop.first %}
                                        <strong>{{ line }}</strong>
                                    {% else %}
                                        {{ line }}
                                    {% endif %}
                                    {% if not loop.last %}<br>{% endif %}
                                {% endfor %}
                            </address>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    {% if order.company %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">{% trans %}Company{% endtrans %}</h2>
            </div>
            <div class="panel-body">
                <p>{{ order.company.name }} ({% trans %}Tax number{% endtrans %}: {{ order.company.tax_number }})</p>
            </div>
        </div>
    {% endif %}

{% endmacro %}

{% macro pagination(page, paginator) %}
    <script>
        window.PAGE_NUMBER = "{{ page.number }}";
    </script>
    <nav>
        <ul class="pagination text-center">
            {% if page.has_previous() %}
                <li id="previous_page">
                    <a href="#" onclick="moveToPage({{ page.previous_page_number()}}); return false;" aria-label="{% trans %}Previous{% endtrans %}">
                        <i class="fa fa-angle-left"></i>
                    </a>
                </li>
            {% else %}
                <li id="previous_page" class="disabled">
                    <span aria-label="{% trans %}Previous{% endtrans %}">
                        <i class="fa fa-angle-left" aria-hidden="true"></i>
                    </span>
                </li>
            {% endif %}
            {% for i in paginator.page_range %}
                <li id="pagination_page_{{ i }}" class="{% if i == page.number %}active{% endif %}">
                    <a href="#" onclick="moveToPage({{ i }}); return false;">{{ i }}</a>
                </li>
            {% endfor %}
            {% if page.has_next() %}
                <li id="next_page">
                    <a href="#" onclick="moveToPage({{ page.next_page_number() }}); return false;" aria-label="{% trans %}Next{% endtrans %}">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            {% else %}
                <li id="next_page" class="disabled">
                    <span aria-label="{% trans %}Next{% endtrans %}">
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                    </span>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}


{% macro render_product_price(product, price_info, show_units=True) %}
<div class="price-line">
    <span class="lead">
    {% if product.is_variation_parent() %}
        {% set min_price, max_price = product.get_child_price_range(request) %}
        {% if min_price == max_price %}
            <strong>{{ min_price|money if min_price else "" }}</strong>
        {% else %}
            <strong>{{ min_price|money }} - {{ max_price|money }}</strong>
        {% endif %}
    {% else %}
        {% if price_info.is_discounted %}
            <small class="text-muted original-price original"><s>{{ price_info.base_price|money }}</s></small>
        {% endif %}
        <strong>{{ price_info.price|money }}</strong>
    {% endif %}
    {% if show_units %}
    <small> / {{ product.sales_unit.short_name }}</small>
    {% endif %}
    </span>
</div>
{% endmacro %}
