Hi {{ user_to_recover.get_full_name() }},

{% trans username=user_to_recover.username %}In case you've forgotten, your username is {{ username }}.{% endtrans %}

{% trans %}You're receiving this email because you requested a password reset for your user account at {{ site_name }}.{% endtrans %}
{% trans %}Please go to the following page and choose a new password:{% endtrans %}
{{ request.build_absolute_uri(url("shoop:recover_password_confirm", uidb64=uid, token=token)) }}
